body {
    background-color: lightyellow;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkgreen;
}

p {
    font-size: 18px;
}

ul {
    text-align: left;
    width: 300px;
    margin: auto;
}

h3 {
    color: brown;
}